@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    font-family: 'Libre Baskerville', serif;
}

html {
    scroll-behavior: smooth;
}

/* 🔹 Fix per react-slick su GitHub Pages / mobile */
.slick-slide>div {
    display: flex !important;
    justify-content: center;
}

/* 🔹 Fix mobile per react-slick su GitHub Pages */
.slick-slide {
    display: flex !important;
    justify-content: center !important;
}

.slick-track {
    display: flex !important;
    align-items: stretch !important;
}

.slick-slide>div {
    width: 100% !important;
    max-width: 100% !important;
}